@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=VT323&display=swap');

:root{
  --bg: #FFF0FF;
  --white: #FFF0FF;
  --hotpink:#CC288B; 
  --pink: #FF8AE0;
  --lightpink:#FFBFFF;
  --darkdark: #271D4E;
  --grey: #736A90;
  --lightpurple: #DAA1F8;
  --purple: #692BE3;
  --pinkpurple: #9B2AB7;
  --blue:#172bc5;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Nunito';
  background-color: var(--bg);
}
p{
  font-family: 'Lora';
  color: var(--darkdark);
}
/*
.play-on-hover{
  width: 50px;
  height: 50px;
  background-image: url(assets/heartstill.png);
  background-size:cover;
  cursor:pointer;
}
.play-on-hover:hover {
  background-image: url(assets/heartgif.gif);
}
*/
.hi-gwyn{
  font-size: 2rem;
  letter-spacing: .5rem;
  color: var(--darkdark) !important;
  font-weight: 900;
  text-shadow: 0.75px 0.75px 0 var(--purple), 1.5px 1.5px 0 var(--lightpurple), 2.25px 2.25px 0 var(--lightpink);
  padding-bottom: 1rem;
}
.hi-gwyn:hover{
  animation-name: nameHover;
  animation-duration: 1s;
  animation-iteration-count: 1;
  text-shadow: 2px 2px 0 var(--purple), 4px 4px 0 var(--lightpurple), 6px 6px 0 var(--lightpink);
}
@keyframes nameHover {
  0%   {text-shadow: 0.75px 0.75px 0 var(--purple), 1.5px 1.5px 0 var(--lightpurple), 2.25px 2.25px 0 var(--lightpink);}
  100% {text-shadow: 2px 2px 0 var(--purple), 4px 4px 0 var(--lightpurple), 6px 6px 0 var(--lightpink);}
}
.navbar{
  padding: 1rem;
  background: linear-gradient(var(--lightpink) 75%,  #FFABD900 100%);
}
.navbar-toggler-icon {
  border-color: var(--purple);
}
.sticky-top {
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar-nav li{
  padding-right: 20px;
}
.nav-link{
  font-size: 1.1em !important;
  font-weight: 900;
  color: var(--purple) !important;
}
.nav-link:active, .nav-link:hover{
  color: var(--blue) !important;
}
/*
.sticky-top {
  position: fixed;
  top: 0;
  width: 100%;
}
*/
.cartoon_h2{
  animation-name: color_cartoon;
  animation-duration: 3s;
  animation-iteration-count: 1;
  color: var(--purple);
}
@keyframes color_cartoon {
  0%   {color:var(--grey);}
  66%   {color:var(--grey);}
  100% {color:var(--purple);}
}

.colorful_h2{
  animation-name: color_color;
  animation-duration: 4s;
  animation-iteration-count: 1;
  color:var(--pinkpurple);
}
@keyframes color_color {
  0%   {color:var(--grey);}
  75%   {color:var(--grey);}
  100% {color:var(--pinkpurple);}
}

.create_h2{
  animation-name: color_create;
  animation-duration: 5s;
  animation-iteration-count: 1;
  color:var(--hotpink);
}
@keyframes color_create {
  0%   {color:var(--grey);}
  80%   {color:var(--grey);}
  100% {color:var(--hotpink);}
}
h1{
  color: var(--blue);
  font-size: 4rem;
  font-weight: 900;
}
h2{
  color: var(--grey);
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Lora';
  padding-bottom: .5rem;
}
h3{
  color: var(--hotpink);
  font-size: 2.5rem;
  font-weight: 900;
  padding-bottom: 2.5rem;
}
h4{
  color:var(--darkdark);
  font-weight: 400;
  font-family: 'Lora';
  font-size: 1.2rem;
  padding-bottom: .5em;
}
h5{
  color:var(--hotpink);
  font-weight: 900;
  font-size: 1.25rem;
}
h6{
  font-family: 'Lora';
  color:var(--purple);
  font-weight: 500;
  font-size: 1.2rem;
}
video{
  border-radius: 1em;
}
.img-framed{
  box-shadow: 0px 0px 15px 6px var(--lightpurple);
}
.intro{
  margin-top: 7rem;
}
.intro h1{
  font-size: 4rem;
  animation-name: nameHover;
  animation-duration: 1s;
  animation-iteration-count: 1;
  text-shadow: 2px 2px 0 var(--purple), 4px 4px 0 var(--lightpurple), 6px 6px 0 var(--lightpink);
  padding-bottom: .75rem;
  font-family: 'Nunito';
}
a{
  color:var(--purple);
}
a:hover{
  color:var(--lightpurple);
}

hr.purple{
  border-top: .15em solid var(--purple);
  color: var(--purple);
  width: 98.4%;
}

.welcome{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

hr.footer{
  border-top: .15em solid var(--blue);
  color: var(--blue);
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  align: center;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
.social a{
  font-size: 1.5em;
  padding: 1rem;
  color: var(--blue);
}
footer{
  background: linear-gradient(#FFABD900 0%,  var(--lightpurple) 20%) ;
  padding-top: 1rem;
  color: var(--blue);
  font-size: 1.5em;
}
footer h3{
  color: var(--blue);
  font-size: 2.5em;
}
.fa-linkedin:hover,
.fa-github:hover,
.fa-itch-io:hover,
.fa-envelope:hover,
.fa-file:hover{
  color: var(--blue);
}
.padding{
  padding-bottom: 1rem;
  padding-top: 6rem;
}
.btmpadding{
  padding-bottom: 2rem;
}

#about h3{
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

/*Project filter 1*/
.button-value, .modal-btn {
  border: .15em solid var(--darkdark);
  padding: 1em 2.2em;
  border-radius: 3em;
  background-color: transparent;
  color: var(--darkdark);
  font-family: 'Lora';
  font-weight: 700;
  cursor: pointer;
}
.button-value:active, .button-value:hover, .modal-btn:hover {
  background-color: var(--darkdark);
  color: var(--lightpink) !important;
}
.project_prev{
  background: linear-gradient(#FFABD900 0%,  var(--lightpurple) 3%, var(--lightpurple) 97%, #FFABD900 100% ) ;
  padding-top: 2rem;
  color: var(--bg);
}
#project_prev h1{
  color: var(--darkdark) !important;
}
#projects {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  grid-gap: 2em;
  padding: 2em 0;
}
.image-container {
  text-align: center;
  padding-bottom: .5rem;
}
#projects img {
  max-width: 100%;
  object-fit: contain;

}
#projects .card{
  background-color: var(--bg);
  max-width: 20em;
  margin-top: 1em;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.1);
}
#projects .card:hover{
  background-color: var(--lightpink);
  cursor: pointer;
  h5{color: var(--darkdark)!important;}
}
#projects .card:hover + 

.bold{
  font-weight: 900;
}
.container {
  padding-top: 1em;
  color: var(--darkdark);
  text-align: center;

}
.hide {
  display: none;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 7em; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  border-radius: 2em;
  background-color: var(--bg);
  margin: auto;
  padding: 1.25em;
  border: 1px solid #888;
  width: 80%;
}
/*
#modal .image-container{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 40%;
  height: 100%;
  overflow: hidden;
}
*/
#modal img{
  width: 100%;
  border: 5px solid var(--lightpurple);
}

#modal .container{
  align-items: center;
}
.metadata{
  text-align: left;
}
#modal h6, #modal p{
  padding-bottom: .7em;
}
.imgdesc{
  font-style: italic;
  font-size: 1rem;
  color: var(--purple);
}
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: var(--white);
}
.modal-btn{
  font-family: 'Nunito';
  font-weight: 900;
  font-size: 1.2rem;
}
/* The Close Button */
.close {
  color: var(--grey);
  float: right;
  font-size: 2.5em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--hotpink);
  text-decoration: none;
  cursor: pointer;
}

.float, .static_to_top_button{
  background-color:var(--hotpink);
	color:var(--bg);
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #0000;
  cursor:pointer;
}
.static_to_top_button{
  display: none;
  margin:auto;
  width:5rem;
  height:5rem;
}
.float{
  position:fixed;
  bottom:3rem;
  right:3rem;
  width:4rem;
  height:4rem;
}
.float:hover, .static_to_top_button:hover{
  color: #E79EFF;
}

.my-float{
	margin-top:1.25rem;
}
.static-button{
	margin-top:1.5rem;
  font-size: 2em;
}


/*---Media Queries --*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {
  #modal h1{
    font-size: 2rem;
  }
  .intro{
    text-align: center;
    margin-top: 0px;
  }
  .padding{
    padding-bottom: 1rem;
    padding-top: 2rem;
  }
  hr.footer{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
  hr.purple{
    width: 95%;
  }
#projects {
  grid-template-columns: auto auto;
  grid-column-gap: 1em;
}
#modal img{
  width: 80%;
}
.float{
  display:none;
}
.static_to_top_button{
  display:block;
}
}
@media (max-width: 576px) {

}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
