html {
    scroll-behavior: smooth;
}
body {
  background-color: #EFA8B8;
  font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}
h1 {
  color: #F6511D;
}
h2{
  color: #264854;
  font-size: 25px;
  font-weight: bold;
}
h3{
  color: #3A5763;
  font-size: 20px;
  font-weight: bold;
}
h4{
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  color: #FFEBAD;
  letter-spacing: 5px;
  text-decoration: underline overline;
}
p {
  color: #707070;
  font-size: 20px;
}

.colorful_h2{
  animation-name: colors;
  animation-duration: 6s;
  animation-iteration-count: 2;
}

@keyframes colors {
  0%   {color:#FFDB70;}
  17%  {color:#94ff70;}
  34%  {color:#70ffff;}
  51%  {color:#7070ff;}
  68% {color:#ff70ff;}
  85% {color:#ff7070;}
  100% {color:#FFDB70;}
}

/* unvisited link */
a:link {
  color: #E75A7C;
}

/* visited link */
a:visited {
  color: #E75A7C;
}

/* mouse over link */
a:hover {
  color: #E02954;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #B3193D;
}




.portfolioblock a:link {
  color: #FFD147;
}

/* visited link */
.portfolioblock a:visited {
  color: #FFD147;
}

/* mouse over link */
.portfolioblock a:hover {
  color: #F5B800;
  text-decoration: none;
}

/* selected link */
.portfolioblock a:active {
  color: #FFD147;
}

.portfolioblock p {
  color: #EBEBEB;
}





.custom_jumbotron{
  background-color: #EBEBEB;
  color: #F6511D;
  text-align: center;
  font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}

.top_navbar{
  background-color: #EBEBEB;
  font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;

}
.custom_navbar{
    margin: 0 0 0 0;
    font-family: Arial;
    font-size: 100%;
    width: 100%;
    overflow: hidden;
 }

.custom_navlist{
    list-style: none;
    width: 100%;
 }

.custom_nav{
   text-align: center;
   float: left;
   width: 33.3%;
 }




/* SIDE NAVIGATION BAR ON PORTFOLIO PAGE */
 .sidenav {
   border-radius: 20px;
   width: 130px;
   position: fixed;
   z-index: 1;
   top: 200px;
   right: 10px;
   background: #393E41;
   overflow-x: hidden;
   padding: 8px 0;
   text-align: center;
   font-weight: bold;
 }

 .sidenav a {
   padding: 6px 8px 6px 16px;
   text-decoration: none;
   font-size: 20px;
   color: #FFEBAD;
   background: #393E41;
   display: block;
 }

 .nav-pills > li.active > a,
 .nav-pills > li.active > a:hover,
 .nav-pills > li.active > a:focus {
     color: #F9A48B;
     background-color: #181F25;
     }

/* END */


.portfolioblock{
  background-color: #F8764F;
}

.portfolioblock ul li{
  color: #EBEBEB;
}

.portfolioblock h3{
  color: #FFE699
}

.portfolioblock h2{
  color: #FFD147
}

.main {
   margin-left: 140px; /* Same width as the sidebar + left position in px */
   margin-right: 140px; /* Same width as the sidebar + left position in px */
   font-size: 28px; /* Increased text to enable scrolling */
   text-align: center;
   padding: 0px 10px;
   padding-top: 50px;
 }

 .aboutme-h2{
   color: #FFDB70;
   font-size: 75px;
 }

.portfolioitem{
  padding-top: 30px;
  padding-bottom: 30px;
}

.itemleft{
  padding-top: 20px;
}

.portfolioimg{
  border-radius: 20px;
  width: 275px;
  height: 200px
}

.iconimg{
  width: 50px;
  height: 50px
}

.itemright{
  text-align: left;
}

.resumeitem{
  font-size: 20px;
  color: #707070;
}

.resumebutton{
  border-radius:10px;
  padding: 10px;
  font-size: 15px;
}

.aboutme-picture{
  border-radius: 15px;
}



 @media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
 }
